*{
    margin: 0%;
    padding: 0%;
   
   }
   
   body{
  background:#f1f1f1 ;
  cursor: pointer;
   }
   @media  screen and (min-width:480px) {

    body{
      background-color:#f1f1f1;
     
    }
  
  }
  
  @media  screen and (min-width:900px) {
  
    body{
      background-color:lightpink;
    }
  
  }
  

  
   header{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    color:white;
    margin: auto;
    background-color: black;
    border-radius: 25px;
   
  }
  header h1{
    font-size: 80px;
    letter-spacing: 8px;
    
    
  }
  nav li {
    display: inline-block;
    margin: 10px 20px;
    font-weight: 600;
    
    }
  
    li a{
  
      color: white;
      text-decoration: none;
      font-size: 20px;
    }
  
  
  
    .footer{
      font-family: 'Georama', sans-serif;
    
      height: 150px;
      
      
      border-radius: 23px;
      padding: 10px 20px;
     background-color: black;
    
    }
    .footer h1{
      font-size: 50px;
      text-align: center;
    color: white;
    
    
    }
    .number{
      
      color: white;
     
    }
    .footer p a{
      color: white;
      text-decoration: none;
      float: right;
     
     
    }